@{
    ViewBag.Title = "Bất động sản QueenLand";
    
}

<!-- Revolution Slider -->
<section class="revolution-slider">
  <div class="bannercontainer">
    <div class="banner">
      <ul>
        @Html.Raw(@ViewBag.slide)
      </ul>
    </div>
  </div>
</section>
<!-- Reservation form -->
<section id="reservation-form" style="background-color:#ffffff;margin-top:-55px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">           
            @Html.Raw(@ViewBag.projects)
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row"> 
    <!-- Blog -->
    <section class="blog mt50">
      <div class="col-md-9">
         @Html.Raw(@ViewBag.news)       
      </div>
    </section>
    <!-- Aside -->
    <aside class="mt50"> 
      <!-- Widget: Text -->
      <div class="col-md-3">
        <div class="widget">
          <h3>Video</h3> 
          <iframe width="100%" height="315"
            src="@QueenLand.Config.getVideo()">
           </iframe>           
        </div>  
      </div>
    </aside>
  </div>
</div>
